.slider_holder{
	position: relative;
	overflow: hidden;
}

	.slider_track{
		position: absolute;
		
	}
	
	.slider_item{
		width: 400px;
		float: left;
	}
	
.yoDropdown{
	position: relative;
}

	.yoDropdown-activated{
		background-color: #ff0000;
		color: #fff;
	}
	
.expanded{
	background-color: #ff0000;
}

.highlighted{
	background-color: #00ff00;
	color: #0000ff;
}